In [300]:
import pandas as pd

In [303]:
df=pd.read_csv(r'C:\Users\wwwko\Downloads\task -20220731T125958Z-001\task\FitBit data.csv')
df.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886
5,1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820
6,1503960366,3/31/2016,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889
7,1503960366,4/1/2016,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868
8,1503960366,4/2/2016,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843
9,1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850

In [6]:
##convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [8]:
ADate=pd.to_datetime(df['ActivityDate'])

In [10]:
type(ADate[0])

pandas._libs.tslibs.timestamps.Timestamp

In [18]:
#Find out in this data that how many unique id's we have

df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [308]:
#which id is one of the active id that you have in whole dataset

df['Total_active_minutes']=df['VeryActiveMinutes']+df['FairlyActiveMinutes']+df['LightlyActiveMinutes']
df.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total_active_minutes
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,250
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,380
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,329
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,283
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,299
5,1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820,266
6,1503960366,3/31/2016,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889,284
7,1503960366,4/1/2016,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868,268
8,1503960366,4/2/2016,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843,295
9,1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850,359

In [310]:
Active_Id=df.groupby('Id')['Total_active_minutes'].sum()
Active_Id.nlargest(1)

Id
1503960366    5318
Name: Total_active_minutes, dtype: int64

In [316]:
#Find out who is the laziest person id that we have in dataset

Laziest=df.groupby('Id')['SedentaryMinutes'].sum()
Laziest.nlargest(1)

Id
4057192912    43458
Name: SedentaryMinutes, dtype: int64

In [161]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total_active_minutes
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,250
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,380
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,329
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,283
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,458
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,388
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,385
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,250
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,58

In [318]:
#Find out in this data that how many unique id's we have

df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [319]:
#how many of them have not logged there activity find out in terms of number of ids

Not_logged=df[df.LoggedActivitiesDistance == 0]

In [210]:
Not_logged['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [270]:
Not_logged=Not_logged.groupby('Id').count()
Not_logged

,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total_active_minutes
Id,,,,,,,,,,,,,,,
1503960366,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1624580081,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1644430081,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1844505072,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1927972279,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2022484408,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2026352035,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2320127002,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2347167796,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2873212765,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2891001357,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3372868164,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3977333714,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4020332650,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4057192912,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4319703577,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4388161847,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4445114986,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4558609924,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4702921684,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5553957443,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5577150313,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6117666160,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6290855005,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6391747486,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6775888955,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6962181067,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7007744171,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7086361926,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8053475328,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8253242879,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8378563200,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8583815059,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8792009665,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8877689391,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [233]:
len(Not_logged.LoggedActivitiesDistance)

35

In [215]:
Logged=df[df.LoggedActivitiesDistance != 0]
Logged

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total_active_minutes
138,2891001357,4/1/2016,0,0.00,0.00,4.828032,0.00,0.00,0.00,0.00,0,660,0,780,4562,660
139,2891001357,4/2/2016,4126,3.22,0.00,3.218688,0.00,0.00,3.22,0.00,0,0,720,720,2881,720
142,2891001357,4/5/2016,2063,1.61,0.00,1.609344,0.00,0.00,1.61,0.00,0,0,630,99,1144,630
215,4057192912,3/30/2016,5419,4.00,4.57,0.055843,0.00,0.00,3.91,0.06,0,0,145,1295,2259,145
335,6391747486,4/2/2016,2101,2.03,0.00,2.027773,2.03,0.00,0.00,0.00,46,0,0,1394,2224,46
338,6391747486,4/5/2016,9766,7.51,0.78,6.727057,0.00,0.05,7.46,0.00,0,6,301,1133,2442,307
359,6962181067,4/6/2016,12480,8.86,8.25,3.972795,4.18,0.69,4.00,0.00,55,14,276,593,2170,345
360,6962181067,4/7/2016,13417,9.65,8.87,1.926302,3.39,1.25,4.91,0.10,45,16,284,665,2244,345
361,6962181067,4/8/2016,14400,10.88,9.52,5.456864,2.47,2.88,5.53,0.00,27,37,276,697,2188,340
364,6962181067,4/11/2016,12362,9.09,8.17,2.696455,1.09,2.73,5.27,0.00,21,38,297,678,2188,356
366,7007744171,4/1/2016,11680,9.06,7.81,4.901283,4.49,0.33,4.24,0.00,50,7,244,1139,2573,301
369,7007744171,4/4/2016,15266,11.40,10.21,5.189850,5.80,0.76,4.79,0.05,70,21,292,1057,2886,383
370,7007744171,4/5/2016,12084,9.14,8.08,4.836380,4.39,0.46,4.29,0.00,50,6,284,1030,2676,340
371,7007744171,4/6/2016,13513,10.25,9.07,4.835720,5.35,0.33,4.56,0.00,64,8,270,1098,2811,342
372,7007744171,4/7/2016,14100,10.58,9.43,4.875990,5.10,1.19,4.28,0.00,61,33,265,1015,2840,359
373,7007744171,4/8/2016,12627,9.65,8.45,4.842320,4.70,0.74,4.21,0.00,54,22,301,1063,2871,377
377,7007744171,4/12/2016,7413,5.77,4.96,4.869783,4.50,0.34,0.94,0.00,53,6,43,405,1023,102
416,8378563200,4/4/2016,13935,11.05,11.05,2.092147,4.09,0.79,6.17,0.00,105,16,220,658,4234,341
417,8378563200,4/5/2016,12846,10.19,10.19,2.253081,5.00,0.75,4.44,0.00,113,15,189,686,4128,317
418,8378563200,4/6/2016,9124,7.24,7.24,2.092147,0.00,0.25,6.99,0.00,55,6,230,728,3798,291
419,8378563200,4/7/2016,9725,7.71,7.71,2.253081,2.41,0.53,4.77,0.00,83,11,181,670,3839,275
420,8378563200,4/8/2016,8350,6.62,6.62,2.092147,1.49,0.53,4.61,0.00,72,10,167,868,3713,249
423,8378563200,4/11/2016,8837,7.01,7.01,2.092147,1.54,0.88,4.59,0.00,74,17,182,811,3775,273
424,8378563200,4/12/2016,3246,2.57,2.57,2.253081,0.83,0.71,1.03,0.00,65,15,49,243,1882,129

In [216]:
Logged=Logged.groupby('Id').count()
Logged

,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total_active_minutes
Id,,,,,,,,,,,,,,,
2891001357,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
4057192912,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6391747486,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
6962181067,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
7007744171,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
8378563200,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

In [218]:
len(Logged.ActivityDate)

6

In [231]:
#Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

Healthy_Person=df.groupby('Id').sum()
Healthy_Person[Healthy_Person['Calories']>=2500]
Healthy_Person

,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total_active_minutes
Id,,,,,,,,,,,,,,
1503960366,221170,144.540001,144.540001,0.000000,52.890000,12.07,79.390000,0.00,681,301,4336,15387,34128,5318
1624580081,80299,52.189999,52.189999,0.000000,0.980000,0.52,50.530000,0.10,14,11,2300,24288,25705,2325
1644430081,92748,67.490000,67.490000,0.000000,11.340000,20.30,35.800000,0.08,148,435,2277,10342,29164,2860
1844505072,43687,28.880000,28.880000,0.000000,0.610000,0.37,27.890000,0.00,9,9,1902,12424,19391,1920
1927972279,26170,18.130000,18.130000,0.000000,0.000000,0.74,17.390000,0.00,0,20,1340,11435,27048,1360
2022484408,146099,105.290001,105.290001,0.000000,37.030000,10.61,57.670000,0.00,481,270,3046,12707,29704,3797
2026352035,40713,25.240000,25.240000,0.000000,0.000000,0.00,25.240000,0.00,0,0,2032,7910,16266,2032
2320127002,37661,25.470000,25.470000,0.000000,0.950000,0.54,23.979999,0.00,11,13,1511,14991,18385,1535
2347167796,147001,97.670001,97.670001,0.000000,12.920000,18.91,65.809999,0.00,177,347,3803,10258,30320,4327
2873212765,79639,53.630001,53.630001,0.000000,3.960000,3.13,46.520000,0.02,61,72,3303,13643,20349,3436
2891001357,6189,4.830000,0.000000,9.656064,0.000000,0.00,4.830000,0.00,0,660,1350,8799,18187,2010
3372868164,61275,42.160000,42.160000,0.000000,7.440000,1.14,33.460000,0.14,118,35,2869,10851,18603,3022
3977333714,103967,69.679999,69.679999,0.000000,10.020000,16.43,43.070000,0.00,146,375,2483,8505,16777,3004
4020332650,184851,132.600000,132.600000,0.000000,5.300000,6.29,71.710000,0.20,130,245,4172,34663,98412,4547
4057192912,60391,44.450000,45.020000,0.055843,3.200000,7.78,33.170000,0.06,40,169,1384,43458,60913,1593
4319703577,93847,63.070000,63.070000,0.000000,5.540000,8.60,48.910000,0.00,79,219,2984,9361,23931,3282
4388161847,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.00,0,0,0,11074,14442,0
4445114986,64396,43.600000,43.600000,0.000000,6.350000,0.62,36.609999,0.00,76,14,3009,12921,31617,3099
4558609924,69423,45.880000,45.880000,0.000000,2.170000,1.37,42.320000,0.00,52,33,2998,13024,21962,3083
4702921684,119151,96.690000,96.690000,0.000000,3.570000,12.17,80.840000,0.00,44,259,3701,10901,42322,4004
5553957443,100257,65.500000,65.500000,0.000000,18.140000,10.43,36.910000,0.00,283,200,2200,7293,21630,2683
5577150313,94690,70.930000,70.930000,0.000000,34.260000,7.12,29.520000,0.00,900,310,1730,7324,36303,2940
6117666160,82486,62.270000,62.270000,0.000000,0.420000,2.73,59.090000,0.00,5,41,2999,8641,20993,3045
6290855005,16181,12.230000,12.230000,0.000000,2.020000,3.68,6.530000,0.00,78,107,393,12896,21656,578
6391747486,12032,9.670000,0.910000,8.754830,2.030000,0.05,7.590000,0.00,46,6,309,11357,15868,361
6775888955,50031,35.870000,35.870000,0.000000,8.480000,10.59,16.410000,0.00,179,443,1116,9161,24523,1738
6962181067,176956,121.070000,117.400001,14.052416,36.130000,24.99,59.850000,0.10,495,406,3620,8488,29249,4521
7007744171,147124,106.280000,98.440000,34.351326,42.479999,7.86,55.890000,0.05,536,195,3330,12008,31525,4061
7086361926,73247,49.130000,49.130000,0.000000,18.350000,6.66,23.920000,0.06,315,212,1215,10666,26124,1742
8053475328,163288,127.340000,127.340000,0.000000,93.930000,5.43,27.950000,0.00,933,125,1698,12259,31825,2756
8253242879,28679,20.150000,20.150000,0.000000,7.240000,3.39,9.510000,0.03,70,56,711,16228,17556,837
8378563200,97623,77.420000,77.420000,15.127832,23.580000,6.32,47.540000,0.00,665,124,2027,8210,40274,2816
8583815059,24364,19.020000,19.020000,0.000000,0.370000,0.73,17.880000,0.00,5,15,1097,10094,19130,1117
8792009665,37139,23.770000,23.770000,0.000000,0.580000,1.37,21.820000,0.00,18,65,1585,10723,24884,1668
8877689391,209005,169.089998,169.089998,0.000000,87.390000,5.80,75.270001,0.03,802,181,2892,12554,41414,3875

In [232]:
len(Healthy_Person.Calories)   #healthy person we have in our dataset

35

In [322]:
#what is a totla acumulative calories burn for a person find out

Most_Calori_Burner=df.groupby('Id')['Calories'].sum()
Most_Calori_Burner

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64

In [324]:
Most_Calori_Burner.nlargest(1)

Id
4020332650    98412
Name: Calories, dtype: int64

In [325]:
type(Most_Calori_Burner)

pandas.core.series.Series

In [445]:
#who is the third most active person in this dataset find out those in pandas and in sql both

Most_Calori_Burner.nlargest(3)

Id
4020332650    98412
4057192912    60913
4702921684    42322
Name: Calories, dtype: int64

In [453]:
Most_Calori_Burner.sort_values(ascending=False).reset_index().iloc[2]

Id          4702921684
Calories         42322
Name: 2, dtype: int64

In [355]:
#who is the 5th most laziest person avilable in dataset find it out

Laziest.nlargest(5)

Id
4057192912    43458
4020332650    34663
1624580081    24288
8253242879    16228
1503960366    15387
Name: SedentaryMinutes, dtype: int64

In [455]:
Laziest.sort_values(ascending=False).reset_index().iloc[4]

Id                  1503960366
SedentaryMinutes         15387
Name: 4, dtype: int64